.menu-bar {
    -fx-background-color: burlywood;
}

.menu:hover {
    -fx-background-color: derive(burlywood, 10%);
}

.window-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.window-button:hover {
    -fx-background-color: lightgrey;
}

.window-button:pressed {
    -fx-background-color: lightgrey;
}

.coordinate-label {
    -fx-background-color: LIGHTGRAY;
    -fx-background-radius: 2;
    -fx-font-size: 8pt;
}
